.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 50%;
  gap: 30px;
  background-color: rgba(52, 64, 116, 0.473);
  border-radius: 15px;
  padding: 20px;
}

.calc-title {
  margin-top: 60px;
  font-weight: 300;
  font-size: 30px;
}

.button{
  width: 100px;
  padding: 15px;
  border: 1px solid #f9ca67;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  transition: all 200ms ease-in;
  background-color: #f9ca67;
  opacity: 0.8;
}

.button:hover{
  transform: scale(1.1);
  opacity: 1;
  background-color: #f9ca67;
}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #f9ca67;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: #f9ca67;
  box-shadow: 0 0 5px #f9ca67;
}

.paragraph {
  display: flex;
  margin: 10px 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5rem;
  align-items: center;
}

.FiDollarSign, .TbCurrencyReal  {
  margin-left: 10px;
  margin-right: 3px;
}